@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 1rem
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    line-height: 150%;
}

p a {
    border-bottom: 1px solid rgba($text-color, 0.3);
    padding-bottom: 2px;
    &:hover {
        color: $secundary-color;
        border-color: $secundary-color;
    }

}

