.btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    padding: 0.8rem;
    border: 1px solid #fff;
    text-transform: lowercase;
    outline: none;

    span {
        color: #fff;
        margin-left: 0.5rem;
    }

    &.ghost {
        background: none;
        color: $primary-color;
        border: 1px solid $primary-color;
    }

    i {
        color: #fff;
        margin-right: 0.5rem;

        &.red {
            color: $error-color;
        }
    }

    &.primary-btn {
        background: $primary-color;
        border-color: $primary-color;
    }
    &.secundary-btn {
        background: $secundary-color;
        border-color: $secundary-color;

    };
    &.small-btn {
        //display: inline;
        min-width: 45px;
        text-align: center;
        span {
            display: none;
            color: #fff;
        }
    }

    &.interest-btn {
        background: none;
        color: $primary-color;
        border-color: $primary-color;
        &:hover {
            background: rgba($primary-color, 0.2);
        }
        &.selected {
            background: $primary-color;
            color: #fff;
        }
    }



    &.delete-btn {
        border-color: $error-color;
        background: $error-color;
    }
}

@media (min-width: 42.5rem) {
    .btn {
        &.small-btn {
            span {
                display: inline;
            }
        }
    }

    .save-btn {
        float: right;
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: block;
      }

      .upload-btn {
          margin-bottom: 1rem;
        &:before {
          content: "\f093";
          font-family: 'FontAwesome';
          font-weight: normal;
          font-style: normal;
          display: inline-block;
          text-decoration: inherit;
          position: relative;
          left: -0.7rem;
        }
      }

      .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin: 0;
      }
}