.btn {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    padding: 0.8rem;
    border: 1px solid #fff;

    i {
        color: #fff;
    }

    &.primary-btn {
        background: $primary-color;
        border-color: $primary-color;
    }
    &.secundary-btn {
        background: $secundary-color;
        border-color: $secundary-color;

    };
    &.small-btn {
        //display: inline;
        min-width: 45px;
        text-align: center;
    }
}