.btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    padding: 0.8rem;
    border: 1px solid #fff;
    text-transform: lowercase;

    span {
        color: #fff;
        margin-left: 0.5rem;
    }

    i {
        color: #fff;
    }

    &.primary-btn {
        background: $primary-color;
        border-color: $primary-color;
    }
    &.secundary-btn {
        background: $secundary-color;
        border-color: $secundary-color;

    };
    &.small-btn {
        //display: inline;
        min-width: 45px;
        text-align: center;
        span {
            display: none;
            color: #fff;
        }
    }

    &.delete-btn {
        border-color: $error-color;
        background: $error-color;
    }
}

@media (min-width: 42.5rem) {
    .btn {
        &.small-btn {
            span {
                display: inline;
            }
        }
    }
}