form button,
.btn {
    text-align: center;
    padding: 13px;
    background: $primary-color;
    color: #fff;
    text-transform: lowercase;
    min-width: 350px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid $primary-color;

    &.small-btn {
        min-width: auto;
        padding: 0.5rem 1rem;

        .fa {
            margin-right: 0.5rem;
        }
    }


}

form button {
    margin-top: 1rem;
}