.message {
    &.error {
        background: rgba($errorcolor, 0.2);
        color: $errorcolor;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}

.message {
    &.success {
        background: rgba($confirmcolor, 0.2);
        color: $confirmcolor;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}