.gallery-image {
    height: 200px;
    width: calc(20% - 4rem);
    margin: 2rem;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}