header {
    height: 52px;

    h1 {
        min-width: 200px;
        background: $primary-color;
        float: left;
        padding: 1rem;
        font-size: 0px;
        margin: 0;
    }

    h1 img {
        height: 20px;
    }

    form input[type="text"] {
        float: left;
        padding: 1rem;
        height: 52px;
        border: none;
        margin-bottom: 0;
    }

    .header__right {
        float: right;
        background: $secundary-color;
        height: 52px;
        padding: 1rem;
        color: #fff;
        position: relative;
        min-width: 150px;

        .fa {
            width: 20px;
        }

        .user-dropdown {
            position: absolute;
            background: $secundary-color;
            list-style-type: none;
            left: 0;
            padding: 1rem;
            width: 100%;
            display: none;

            .fa {
                margin-left: 0.5rem;
            }

            a {
                display: block;
            }

            &.open {
                display: block;
            }
        }
    }
}