* {
	font-size: 16px;
	box-sizing: border-box;
}

.row {
	display: block;
	margin-left: -1rem;
	margin-right: -1rem;
	zoom: 1;
}
.row::before, .row::after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.row::after {
	clear: both;
}

.container {
	display: block;
	max-width: 71.25rem;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
    zoom: 1;

	&.no-padding {
		padding: 0;
	}
}


.column {
    display: block;
	position: relative;
	float: left;
	width: 100%;
	min-height: 1px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
	overflow: hidden;
}

@media (min-width: 20rem) {
	.column-sm-2 { width: 16.66666%; }
	.column-sm-3 { width: 25%; }
	.column-sm-4 { width: 33.33333%; }

	.column-sm-6 { width: 50%; }
	.column-sm-7 { width: 58.33333%; }
	.column-sm-8 { width: 66.66666%; }
	.column-sm-9 { width: 75%; }
	.column-sm-12 { width: 100%; }
}

@media (min-width: 42.5rem) {
	.column-lg-2 { width: 16.66666%; }
	.column-lg-3 { width: 25%; }
	.column-lg-4 { width: 33.33333%; }

	.column-lg-6 {
		width: 50%;
	}

	.column-lg-7 {
		width: 58.33333%;
	}

	.column-lg-9 {
		width: 75%;
	}

	.column-lg-10 { width: 83.33333% }

	.column-lg-12 {
		width: 100%;
	}
}