header {
    background: $primary-color;
    padding: 1rem;
    .logo {
        height: 20px;
    }

    .toggleBars  {
        float: right;
        img {
            height: 20px;
            cursor: pointer;
        }
    }

}

@media (min-width: 42.5rem) {
    header {
        padding: 1.5rem;
    }
}