#home {
    text-align: center;
    .hero-image {
        //background: url("assets/images/art-creative-flying-17679.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 230px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    form {
        text-align: left;
    }

    h1 {
        color: #fff;
        text-shadow: rgba($text-color, 0.5) 2px 2px 5px;
        font-size: 1.5rem;
        margin: 0;
        height: calc(230px - 60px);
    }

    .dateTabs {
        li {
            float: left;
            margin: 0 0.8rem;
            a {
                padding: 0.8rem 1.2rem;
                border: 1px solid $primary-color;
                border-radius: 5px;
                display: inline-block;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.is-active a {
                background: $primary-color;
                color: #fff;
            }
        }
    }
}

@media (min-width: 42.5rem) {
    #home {
        min-height: calc(100vh - 72px);
        h1 {
            font-size: 2.5rem;
            padding: 3rem;
            width: 960px;
            margin: 0 auto;
        }

        .hero-image {
            height: 100vh;
        }
        form {
            padding: 2rem;
            border-radius: 5px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 960px;
            background: #fff;
        }
    }

    .dateTabs{
        .tag {
            padding: 0.7rem 1.35rem;
            margin: 0 0.5rem;
        }
    }

}