#home {
    text-align: center;
    .hero-image {
        background: url("../images/adult-awesome-beautiful-763412.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 230px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    form {
        text-align: left;
    }

    h1 {
        color: #fff;
        text-shadow: rgba($text-color, 0.5) 2px 2px 5px;
        font-size: 1.5rem;
        padding: 1rem 0 4rem;
    }
}

@media (min-width: 42.5rem) {
    #home {
        min-height: calc(100vh - 72px);
        h1 {
            font-size: 2.5rem;
            padding: 3rem;
            width: 960px;
            margin: 0 auto;
        }

        .hero-image {
            height: 100vh;
        }
        form {
            padding: 2rem;
            border-radius: 5px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 960px;
            background: #fff;
        }
    }
}