#overview__comp {
  overflow: auto;
  .event {
    overflow: auto;
    box-shadow: 0px 0px 5px rgba($text-color, 0.1);
    background: #fff;
    margin-bottom: 1rem;
    .event-date {
      background: $error-color;
      color: #fff;
      font-weight: 700;
      padding: 0.5rem;
      text-align: center;
      line-height: 180%;
      width: 70px;
      float: left;
      text-transform: uppercase;
      margin-right: 1rem;
    }
    .event-day {
      font-size: 2rem;
      color: #fff;
    }
    .event-month {
      font-size: 1.2rem;
      color: #fff;
    }
    .event-details {
      padding: 0.5rem 0;
      h3 {
        font-size: 1.2rem;
      }
    }
  }
}

@media (min-width: 42.5rem) {
  .overview-event-list {
    border-left: 2px solid rgba($text-color, 0.1);
    padding-left: 2rem;

  }

  .event-header-image {
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2rem;
  }
}