#profile {
  .hero-image {
    //background: url("../images/art-creative-flying-17679.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .container {
    background: #fff;
    position: relative;
    padding-top: 50px;
    margin-top: 100px;
  }

  h1 {
    text-align: center;
    font-size: 1.2rem;
  }

  .user-avatar {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-bottom: 1rem;

    .fa {
      font-size: 4.5rem;
    }
  }

  .profile-actions {
    position: fixed;
    top: 200px;
    right: 0;
    a {
      min-width: 145px;
      position: relative;
      left: 105px;
      display: block;
      text-align: left;
      margin-bottom: 0.5rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition: all 0.175s ease-out 0.120s;

      &.open {
        left: 0;
      }

      i {
        padding: 0.8rem;
        padding-right: 0;
      }
    }
    .btn {
      padding: 0;
      padding-right: 0.8rem;
    }
  }

  .event-newsfeed {
    padding: 0 1rem;
  }

  .event {
    overflow: auto;
    box-shadow: 0px 0px 5px rgba($text-color, 0.1);
    background: #fff;
    margin-bottom: 1rem;
    .event-date {
      background: $error-color;
      color: #fff;
      font-weight: 700;
      padding: 0.5rem;
      text-align: center;
      line-height: 180%;
      width: 70px;
      float: left;
      text-transform: uppercase;
      margin-right: 1rem;
    }
    .event-day {
      font-size: 2rem;
      color: #fff;
    }
    .event-month {
      font-size: 1.2rem;
      color: #fff;
    }
    .event-details {
      padding: 0.5rem 0;
      p {
        font-size: 1.2rem;
        font-weight: 700;
      }

    }
  }

  .event-schedule {
    padding: 0 1rem;
    h2 {
      margin-bottom: 0.5rem;
    }
  }



}

@media (min-width: 42.5rem) {
  #profile {
    .event-newsfeed {
      float: left;
      width: 70%;
      padding: 0 0.5rem;
    }
    .event-schedule {
      width: 30%;
      float: left;
      padding: 0 0.5rem;

      .event {
        .event-date {
          margin: 0.5rem;
          padding: 8px 0;
          width: 50px;
          line-height: 120%;
        }
        .event-day {
          font-size: 1.4rem;
        }
        .event-month {
          font-size: 1rem;
        }
      }
    }
  }
}